dataLogs/*
protokolle/*
__pycache__/nullAbgleich.cpython-38.pyc
__pycache__/parametrierung.cpython-38.pyc
__pycache__/parametrierungUI.cpython-38.pyc
__pycache__/pruefung.cpython-38.pyc
__pycache__/pruefWidget.cpython-38.pyc
__pycache__/regler_dvr.cpython-38.pyc
__pycache__/reglerConfigNullUI.cpython-38.pyc
__pycache__/reglerConfigUI.cpython-38.pyc
__pycache__/reglerReadOutputLog.cpython-38.pyc
__pycache__/reglerSetup.cpython-38.pyc
__pycache__/secSetup.cpython-38.pyc
__pycache__/sensorConfigUI.cpython-38.pyc
__pycache__/SimGasEA.cpython-38.pyc
__pycache__/simulation.cpython-38.pyc
__pycache__/zuschaltGrenzwerteConfigUI.cpython-38.pyc
__pycache__/befuellen.cpython-38.pyc
__pycache__/consoleWidget.cpython-38.pyc
__pycache__/csvDataLogger.cpython-38.pyc
__pycache__/datamanager.cpython-38.pyc
__pycache__/entlueftung.cpython-38.pyc
__pycache__/expertModeEnterPW.cpython-38.pyc
__pycache__/gasGardEA.cpython-38.pyc
__pycache__/gasGardSetup.cpython-38.pyc
__pycache__/gasGardWidget.cpython-38.pyc
__pycache__/gesamtSollwertRegler.cpython-38.pyc
__pycache__/helpDialog.cpython-38.pyc
__pycache__/hwSetup.cpython-38.pyc
__pycache__/lisionStyle.cpython-38.pyc
__pycache__/lock.cpython-38.pyc
__pycache__/logger.cpython-38.pyc
__pycache__/messdatenGraphWidget.cpython-38.pyc
__pycache__/messdatenTableWidget.cpython-38.pyc
__pycache__/messdatenUI.cpython-38.pyc
__pycache__/mgsWidget.cpython-38.pyc
